<footer>
  <div class="footer-container">
    <div class="footer-panel" id="school-name">
      <div id="logo-container">
        <img src="./assets/images/logo.png" alt="Logo Colegio Franciscano">
      </div>
      <div id="name-container">
        <h1>Colegio Franciscano AC</h1>
        <h4>de Huamantla, Tlax.</h4>
      </div>
    </div>
    <div class="footer-panel" id="school-info">
      <div class="data-label">
        <i class="fa-solid fa-location-dot"></i>
        <span>Allende Sur #103, Huamantla, Tlaxcala</span>
      </div>
      <div class="data-label">
        <i class="fa-solid fa-phone"></i>
        <span>247 472 0756</span>
      </div>
      <div class="data-label">
        <i class="fa-solid fa-envelope"></i>
        <span>colegiofranciscano.a.c@gmail.com</span>
      </div>
      <div class="data-label" id="facebook-link">
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com/ColegioFranciscanoAC/" target="_blank">Colegio Franciscano AC de Huamantla, Tlax.</a>
      </div>
    </div>
  </div>
</footer>