<nav id="main-nav">
  <a href="/index.html">Inicio</a>
  <div class="nav-dropdown">
    <span href="" class="nav-dropdown-toggle">
      Nosotros <i class="fa-solid fa-chevron-down nav-dropdown-icon"></i>
    </span>
    <div class="nav-dropdown-menu">
      <a href="">Historia de CF</a>
      <a href="/mision-y-vision.html">Misión y Visión</a>
      <a href="">Valores y Principios</a>
      <a href="">Código de conducta</a>
      <a href="">Galería</a>
    </div>
  </div>
  <a href="">Admisiones</a>
  <img id="cf-logo" src="/assets/images/logo.png" alt="Logo Colegio Franciscano">
  <a href="">Alianzas</a>
  <a href="">Avisos</a>
  <a href="">Contacto</a>
</nav>