<nav id="main-nav">
  <div class="nav-left">
    <a href="/index.html">Inicio</a>
    <div class="nav-dropdown">
      <span class="nav-dropdown-toggle">
        Nosotros <i class="fa-solid fa-chevron-down nav-dropdown-icon"></i>
      </span>
      <div class="nav-dropdown-menu">
        <a href="">Historia de CF</a>
        <a href="/mision-y-vision.html">Misión y Visión</a>
        <a href="/valores-y-principios.html">Valores y Principios</a>
        <a href="">Código de conducta</a>
        <a href="/galeria.html">Galería</a>
      </div>
    </div>
    <a href="">Alianzas</a>
  </div>

  <img id="cf-logo" src="/assets/images/logo.png" alt="Logo Colegio Franciscano">

  <div class="nav-right">
    <div class="nav-dropdown">
      <span class="nav-dropdown-toggle">
        Admisiones <i class="fa-solid fa-chevron-down nav-dropdown-icon"></i>
      </span>
      <div class="nav-dropdown-menu">
        <a href="">Preescolar</a>
        <a href="">Primaria</a>
        <a href="">Secundaria</a>
        <a href="">Bachillerato</a>
      </div>
    </div>
    <a href="">Avisos</a>
    <a href="">Contacto</a>
  </div>
</nav>